<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Config" status="ERROR" monitorInterval="5">
    <Appenders>
        <SpringProfile name="dev">
            <Console name="Out" target="SYSTEM_OUT">
                <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            </Console>
        </SpringProfile>
        <SpringProfile name="prod">
            <File name="Out" fileName="logs/app.log">
                <PatternLayout>
                    <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
                </PatternLayout>
            </File>
        </SpringProfile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Out"/>
        </Root>
    </Loggers>
</Configuration>